body {
    /* background-color: pink; */
}

.navbar1 {
    width: 100%;
    overflow: hidden;
    text-align: center;
    border-top: solid black;
    border-width: 1px;
    border-color: silver;
    margin: auto;
}


/* Navigation links */

.navbar1 a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* The subnavigation menu */

.subnav {
    float: left;
    overflow: hidden;
}


/* Subnav button */

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


/* Add a red background color to navigation links on hover */

.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: none;
}


/* Style the subnav content - positioned absolute */

.subnav-content {
    display: none;
    position: absolute;
    top: 150px;
    background-color: none;
    width: 100%;
    z-index: 1;
}


/* Style the subnav links */

.subnav-content a {
    float: center;
    color: black;
    text-decoration: none;
}


/* Add a grey background color on hover */

.subnav-content a:hover {
    color: #c0c0c0;
}


/* When you move the mouse over the subnav container, open the subnav content */

.subnav:hover .subnav-content {
    display: block;
}

.top-bar {
    display: inline;
}

.top-bar .top-bar_left {
    float: left;
    padding-top: 10px;
}

.top-bar .top-bar_right {
    float: right;
    padding-top: 10px;
}

.top-bar_right a {
    direction: none;
    color: black;
}

.top-bar_right a:hover {
    color: #8a8a5c;
}

h1.name-shop a {
    color: #e72222 !important;
    font-family: florence, cursive, sans-serif;
}

h1.name-shop a:hover {
    color: #e72222 !important;
    text-decoration: none !important;
}

.cart {
    margin-top: 10px;
    float: right;
}

.cart a {
    color: black;
}

.cart a:hover {
    text-decoration: none;
}

.search input {
    width: 80%;
    background: no-repeat;
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #e2e2e2;
    font-size: 13px;
    padding-top: 15px;
}

#searchSubmit {
    background: none;
    border: none;
    margin-top: 10px;
}